
/* title{
    align-items: center;
    color:rgba(0, 0, 0, 0.596);
    font-family: 20pt; */
/* } */
/* ul{
   color:white;
} */
body{
    /* margin: 5%;
    padding: 5; */
    background-color:rgba(4, 10, 10, 0.788);

    
} 

.header-navigation{
    position: relative;
    left: 50%;
    width: 50%;

}

.header-navigation ul li{
    width: 35%;
}

.header-navigation a {
    color:blanchedalmond;
    font-size: 25px;
}
 .list-horizontal {
    display: flex;
    flex-direction: row;
   

}


h1{     
     /* color: grey;  */
     color: white;
}
li{
    color: red;
    line-height: 25px;
}
img{
    width: 65%;
    size: 65% ;
}
.header-logo p {
color: white;
font-weight: 1000;
font-size:20px ;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 30px;
}
/* .wrapper {
    flex-grow: 1;
} */
.wrapper p{
color:black;
line-height: 1px;
/* font-style: italic; */
/* font-size: 25px; */
}
.wrapper ul li{
    color:blanchedalmond;
}
.wrapper a{
    color:blanchedalmond;
}

h2{
   color:white;
   font-weight: medium; 

}
.lefth{
    color: white;
}


/* .article{
        display: flex;
        flex-direction: row;
        align-items:start;
}
.article{
    display: flex;
    flex-direction: row;
    align-items:flex-start;  
}
.article{
    display: flex;
    flex-direction: row; 
    align-self: start;
     justify-content: space-around;
    align-items:flex-end; 
        
} 
p{
    color:black;
    font-family: comic sans ms, times;
}  */
