
title{
    align-items: center;
    color:black;
}
ul{
   color: black;
}
body{
    background-color:teal;
}
/* /* .header{
    display: flex;
    flex-direction: row; */
  
 /* } */
.list-horizontal {
    display: flex;
    flex-direction: row;
}
.menu2

h1{
    /* color: grey; */
    color: red;
}
li{
    color: red;
}
img{
    width: 65%;
    size: 55% ;
}
h2{
   color: black; 
}
.article1{
        display: flex;
        flex-direction: row;
        align-items:start;
}
.article2{
    display: flex;
    flex-direction: row;
    align-items:flex-start;  
}
.article3{
    display: flex;
    flex-direction: row; 
    /* align-self: start; */
    justify-content: space-around;
    align-items:flex-end; 
        
}
p{
    color:black;
    font-family: comic sans ms, times;
}