
title{
    align-items: center;
    color:rgba(0, 0, 0, 0.596);
}
ul{
   color:white;
}
body{
    background-color:rgba(4, 10, 10, 0.788);
 
  
} 

.header-navigation{
    position: relative;
    left: 50%;
    width: 50%;
}

.header-navigation ul li{
    width: 20%;
}

.header-navigation a {
    color:blanchedalmond;
}
 .list-horizontal {
    display: flex;
    flex-direction: row;
}


h1{     
     /* color: grey;  */
     color: white;
}
li{
    color: red;
}
img{
    width: 65%;
    size: 55% ;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 30px;
}
.wrapper {
    flex-grow: 1;
}



h2{
   color:white;
   font-weight: medium; 

}


/* .article{
        display: flex;
        flex-direction: row;
        align-items:start;
}
.article{
    display: flex;
    flex-direction: row;
    align-items:flex-start;  
}
.article{
    display: flex;
    flex-direction: row; 
    align-self: start;
     justify-content: space-around;
    align-items:flex-end; 
        
} 
p{
    color:black;
    font-family: comic sans ms, times;
}  */
